BITRIX_WEBHOOK_BASE=https://b24-9r6ca1.bitrix24.ru/rest/1/uukj5021tyg2bii5
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
QDRANT_COLLECTION=bitrix_crm
EMBEDDING_MODEL=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
